<div class="container p-5 Table">
    <div class="content-box pb-3">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="ps-4" scope="col">Tiêu đề</th>
                                <th scope="col">Chủ sở hữu</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Lượt xem</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="poster-wrapper">
                                    <div class="d-flex align-items-center">
                                        <img
                                            class="poster me-3"
                                            src="assets/image/video.png"
                                            alt=""
                                        />
                                        <p class="title">
                                            Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan
                                            Tổng Hợp
                                        </p>
                                    </div>
                                </th>
                                <td>
                                    <div class="d-flex">
                                        <img
                                            class="avatar me-3"
                                            src="assets/image/avatar.jpg"
                                            alt=""
                                        />
                                        <p class="channel-name">Thịnh Nguyễn</p>
                                    </div>
                                </td>
                                <td class="text-success">
                                    <i class="bi bi-check-circle-fill"></i> Hoạt động
                                </td>
                                <td>
                                    <div class="d-flex justify-content-between icon-wrapper">
                                        <span>1.100.213</span>
                                        <button
                                            class="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#row1"
                                            aria-expanded="true"
                                        >
                                            <i class="bi bi-three-dots-vertical poiter"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr id="row1" class="collapse">
                                <td class="AppProfile" colspan="6">
                                    <header
                                        class="d-flex justify-content-between align-items-center px-4"
                                    >
                                    
                                        <div class="info-container mb-0">
                                            <div class="info-wrapper text-wrapper">
                                                <h2>Trạng thái: <span>Hoạt động</span></h2>
                                                <h2>Ngày đăng: <span>12/12/2021</span></h2>
                                                <h2>Like: <span>412</span></h2>
                                                <h2>Dislike: <span>12</span></h2>
                                                <h2>Thời lượng: <span>12:12</span></h2>
                                                <h2>Bình luận: <span>12</span></h2>
                                            </div>
                                        </div>

                                        <div>
                                            <button class="btn-subscriber bg-blue">
                                                <i class="bi bi-card-text me-2"></i>Chi tiết
                                            </button>
                                            <button class="btn-subscriber bg-red">
                                                <i class="bi bi-file-earmark-x me-2"></i>Xoá
                                            </button>
                                            <button class="btn-subscriber">
                                                <i class="bi bi-file-lock me-2"></i>Khoá
                                            </button>
                                        </div>
                                    </header>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="w-100 text-primary icon-wrapper justify-content-center">
            <a href="" class="link">
                <span class="mb-0 fw-bold"
                    >Tải thêm
                    <i class="bi bi-cloud-arrow-down"></i>
                </span>
            </a>
        </div>
    </div>
</div>
