<div class="container AppWatch">
    <div class="row">
        <div class="col-md-9 watch-wrapper p-3">
            <div class="video-container">
                <video class="video w-100" src="assets/image/video.mp4" controls></video>
                <div class="control-container"></div>
            </div>
            <div class="video-info-container mt-2">
                <h1 class="title">Nhạc Chill TikTok - Những Bản Nhạc Lofi Chill Nhẹ Nhàng - Nhạc Lofi Buồn Hot Nhất Hiện
                    Nay</h1>
                <div class="d-flex">
                    <div class="owner-container d-flex flex-grow-1 align-items-center">
                        <div class="owner-avt-wrapper">
                            <img class="avatar" src="assets/image/chanel.jpg" alt="Channel">
                        </div>
                        <div class="owner-info">
                            <h5 class="channel-name">POPS-Anime</h5>
                            <p class="subscriber-count">1tr Người đăng ký</p>
                        </div>
                        <button class="btn-subcribe">Đăng ký</button>
                    </div>
                    <div class="action-container flex-grow-1 d-flex">
                        <div class="like-wrapper">
                            <button class="like">
                                <i class="bi bi-hand-thumbs-up"></i>
                                <span>Thích</span>
                            </button>
                            <button class="dislike">
                                <i class="bi bi-hand-thumbs-down"></i>
                            </button>
                        </div>
                        <button class="share">
                            <i class="bi bi-reply"></i>
                            Chia sẻ
                        </button>
                        <button class="save">
                            <i class="bi bi-journal-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 list-video-wrapper">List</div>
    </div>
</div>