<div class="AppLogin d-flex align-items-center">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-6 d-flex align-items-center">
                <!-- chèn thẻ svg src="assets/image/yt-logo.svg" -->
                <img class="banner d-none d-md-block" src="assets/image/yt-logo-dark.svg" alt="" />
            </div>
            <div class="col-md-6">
                <form action="">
                    <div class="form-container">
                        <h1 class="mb-3 text-center font-weight-bolder">Sign Up</h2>
                        <div class="input-block">
                            <label for="username">Username</label>
                            <i class="left-icon bi bi-person"></i>
                            <input
                                class="input-control"
                                type="text"
                                name="username"
                                id="username"
                                placeholder="Username"
                            />
                            <i class="right-icon bi bi-person"></i>
                        </div>
                        <div class="input-block">
                            <label for="fullname">Fullname</label>
                            <i class="left-icon bi bi-person"></i>
                            <input
                                class="input-control"
                                type="text"
                                name="fullname"
                                id="fullname"
                                placeholder="Fullname"
                            />
                            <i class="right-icon bi bi-person"></i>
                        </div>
                        <div class="input-block">
                            <label for="email">Email</label>
                            <i class="left-icon bi bi-envelope"></i>
                            <input
                                class="input-control"
                                type="text"
                                name="email"
                                id="email"
                                placeholder="Email"
                            />
                            <i class="right-icon bi bi-eye"></i>
                        </div>
                        <div class="input-block toggle-password">
                            <label for="password">Password</label>
                            <i class="left-icon bi bi-lock"></i>
                            <input
                                class="input-control"
                                type="text"
                                name="password"
                                id="password"
                                placeholder="Password"
                            />
                            <i class="right-icon bi bi-eye"></i>
                        </div>
                        <div class="input-block toggle-password">
                            <label for="re-password">Repeat password</label>
                            <i class="left-icon bi bi-lock"></i>
                            <input
                                class="input-control"
                                type="password"
                                name="re-password"
                                id="re-password"
                                placeholder="Repeat password"
                            />
                            <i class="right-icon bi bi-eye"></i>
                        </div>

                        <div class="input-block d-flex justify-content-center mt-2">
                            <button type="submit">Sign In</button>
                        </div>

                        <div class="input-block text-center mb-2">
                            Do you have an account? <a class="text-primary" href="#!/signin">Log in now!</a>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
