<div class="AppProfile">
    <div class="container pt-5">
        <header class="d-flex justify-content-between align-items-center">
            <div class="info-container">
                <div class="avatar-container">
                    <img src="assets/image/avatar.jpg" alt="Avatar" />
                </div>
                <div class="info-wrapper">
                    <h1 class="channel-name">
                        Thịnh Nguyễn <span><i class="bi bi-check-circle-fill"></i></span>
                    </h1>
                    <h6 class="channel-id">@quocthinhtme</h6>
                    <h6 class="subscriber-counter">9.9 Triệu người đăng kí</h6>
                </div>
            </div>
            <button class="btn-subscriber">Subscriber</button>
        </header>

        <div class="video-container">
            <div class="video-group">
                <div class="title-container d-flex align-items-center justify-content-between">
                    <h4 class="title"><i class="bi bi-trophy"></i> Top video</h4>
                </div>

                <div class="video-container row">
                    <!-- 1 Cái video -->
                    <div class="video-item col-4">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 1 Cái video -->
                    <div class="video-item col-4">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 1 Cái video -->
                    <div class="video-item col-4">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-group">
                <div class="title-container d-flex align-items-center ">
                    <h4 class="title mr-3"><i class="bi bi-clock"></i> Video đã đăng</h4>
                    <a href="">Tải lên gần đây</a>
                </div>

                <div class="video-container row">
                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
