<div class="AppHeader">
    <div class="left-wrapper d-flex align-items-center">
        <i class="menu-icon bi bi-list"></i>
        <a href="#!/">
            <div class="logo-wrapper" nation="VN">
                <img src="assets/image/AdminLogo.png" alt="Logo" />
            </div>
        </a>
    </div>
    <div class="center-wrapper">
        <div class="search-container">
            <form>
                <div class="input-container">
                    <i class="input-icon bi bi-search"></i>
                    <input type="text" placeholder="Tìm kiếm tài khoản người dùng" />
                </div>
            </form>
            <button class="btn-search">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
    <div class="right-wrapper">
        <h4 class="mb-0 pe-5"></h4>
    </div>
</div>
