.MyProfile {
    .profile-container {
        padding: 1rem 0;
        border: 2px solid #606060;
        border-radius: 15px;

        h4.title {
            padding-bottom: 1rem;
            padding-left: 1.5rem;
            margin-bottom: 0;
            border-bottom: 2px solid #606060;
        }

        .form-wrapper {
            padding: 1.5rem 1rem;
        }

        .profile-item {
            display: flex;
            margin-bottom: 1.5rem;
            .title {
                min-width: 120px;
                margin-right: 30px;
            }

            .content {
                max-width: 400px;
                flex: 1;

                textarea,
                input {
                    padding: 0.3rem 0.5rem;
                    background: #0000001d;
                    width: 100%;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                }
                input[type="file"],
                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50px;
                }

                input[type="file"] {
                    position: absolute;
                    opacity: 0;
                }
            }
        }

        button.save {
            font-size: 17px;
            width: 100%;
            padding: .5rem;
            border-radius: 25px;
            border: 2px solid #065fd4;
            background: transparent;
            color: #065fd4;

        }
    }
}
