<div class="AppUpload">
    <div class="container">
        <div class="box row">
            <h3 class="box-header">Đăng video </h3>

            <div class="col-md-5 ps-md-5">
                <div class="poster-preview pt-4  border-0">
                    <!-- 1 Cái video -->
                    <div class="video-item col-6 mx-auto">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 pe-md-5">
                <form action="">
                    <div class="form-container">
                        <!-- One filed -->
                        <div class="form-floating mb-3">
                            <input
                                type="email"
                                class="form-control"
                                id="floatingInput"
                                placeholder="name@example.com"
                                required
                            />
                            <label for="floatingInput">Tiêu đề <span>(0/120)</span></label>
                        </div>
                        <!-- One filed -->
                        <div class="form-floating mb-3">
                            <textarea
                                class="form-control"
                                placeholder="Leave a comment here"
                                id="floatingTextarea"
                                style="height: 130px"
                            ></textarea>
                            <label for="floatingTextarea">Mô tả <span>(0/5000)</span></label>
                        </div>

                        <!-- One filed -->
                        <div class="row mb-3">
                            <h6>Quyền riêng tư:</h6>
                            <div class="d-flex">
                                <div class="form-check ms-3">
                                    <input
                                        class="form-check-input"
                                        type="radio"
                                        name="privacy"
                                        id="only-me"
                                    />
                                    <label class="form-check-label" for="only-me">
                                        Chỉ mình tôi
                                    </label>
                                </div>
                                <div class="form-check ms-3">
                                    <input
                                        class="form-check-input"
                                        type="radio"
                                        name="privacy"
                                        id="public"
                                        checked
                                    />
                                    <label class="form-check-label" for="public"> Công khai </label>
                                </div>
                            </div>
                        </div>

                        <!-- One filed -->
                        <div class="mb-3">
                            <label for="formFileSm" class="form-label"
                                ><h6>Ảnh bìa video</h6></label
                            >
                            <input
                                class="form-control form-control-sm"
                                id="formFileSm"
                                type="file"
                            />
                        </div>

                        <button class="btn btn-danger w-100" type="submit">Đăng video</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
