.AppLibrary {

    .video-group:not(:first-child) {
        border-top: 1px solid #0000001c;
    }

    .video-item {
        margin-bottom: 24px;
    }

    .title-container {
        margin-top: 24px;
        margin-bottom: 24px;

        .title {
            margin-bottom: 0;
            display: flex;
            align-items: center;
            color: #0f0f0f;
            line-height: 24px;
            font-size: 16px;
            font-weight: 500;
            .bi {
                font-size: 24px;
                margin-right: 16px;
            }
        }

        a {
            line-height: 36px;
            padding-left: 16px;
            padding-right: 16px;
            font-size: 16px;
            font-weight: 500;
            color: #065fd4;

            &:hover {
                background: #def1ff;
                border-radius: 18px;
            }
        }
    }

    .video-cover-image {
        width: 100%;
        position: relative;
        img {
            width: 100%;
            border-radius: 10px;
            object-fit: contain;
        }

        .time {
            position: absolute;
            bottom: 2px;
            right: 2px;
            padding: 3px 4px;
            background-color: #000;
            font-size: 12px;
            line-height: 12px;
            color: #fff;
            border-radius: 4px;
            font-weight: 500;
        }
    }

    .detail-container {
        padding: 8px 0 8px 0;

        .title {
            font-size: 14px;

            // Text overflow optimization
            line-height: 20px;
            white-space: wrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2; // Cross-browser support for line-clamping
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }

        .data,
        .channel-name {
            color: #606060;
            font-size: 12px;
        }
    }
}
