<div class="MyProfile">
    <div class="container pt-5 px-5">
        <!-- <header class="d-flex justify-content-between align-items-center">
            <div class="info-container">
                <div class="avatar-container">
                    <img src="assets/image/avatar.jpg" alt="Avatar" />
                </div>
                <div class="info-wrapper">
                    <h1 class="channel-name">
                        Thịnh Nguyễn <span><i class="bi bi-check-circle-fill"></i></span>
                    </h1>
                    <h6 class="channel-id">@quocthinhtme</h6>
                    <h6 class="subscriber-counter">9.9 Triệu người đăng kí</h6>
                </div>
            </div>
            <button class="btn-subscriber">Subscriber</button>
        </header> -->

        <div class="row">
            <div class="col-12 profile-container">
                <header>
                    <h4 class="title">Chỉnh sửa thông tin</h4>
                </header>

                <div class="form-wrapper">
                    <div class="profile-item">
                        <div class="title">
                            <h6>Avatar</h6>
                        </div>
                        <div class="content avatar d-flex justify-content-center">
                            <img src="assets/image/avatar.jpg" alt="Avatar" />
                            <input type="file" name="avatar" id="avatar" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="profile-item">
                                <div class="title">
                                    <h6>Channel Name</h6>
                                </div>
                                <div class="content">
                                    <input type="text" value="Nguyễn Thịnh" />
                                </div>
                            </div>

                            <div class="profile-item">
                                <div class="title">
                                    <h6>Channel ID</h6>
                                </div>
                                <div class="content">
                                    <input type="text" value="@quocthinhtme" />
                                </div>
                            </div>
                            <div class="profile-item">
                                <div class="title">
                                    <h6>Email</h6>
                                </div>
                                <div class="content">
                                    <input type="text" value="@quocthinhtme"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="profile-item h-100 mb-0">
                                <div class="title">
                                    <h6>Mô tả kênh</h6>
                                </div>
                                <div class="content">
                                    <textarea rows="3" type="text" value="@quocthinhtme"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w-100 px-3">
                        <button class="save"><i class="bi bi-save-fill me-2"></i> Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
