<div class="AppHistory">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <h4 class="title">Nhật ký đã xem</h4>

                <div class="video-container">
                    <h5 class="sub-title">Hôm nay</h5>

                    <!-- 1 Video -->
                    <div class="mb-4 item">
                        <a href="#!/watch">
                            <div class="row">
                                <div class="video-cover-image col-5 p-0 overflow-hidden">
                                    <img class="w-100" src="assets/image/video.png" alt="banner" />
                                    <div class="time">12:12</div>
                                </div>
                                <div class="detail-container d-flex col-7 p-0">
                                    <div class="detail">
                                        <h6 class="title">
                                            Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan
                                            Tổng Hợp. Lorem, ipsum dolor sit amet consectetur
                                            adipisicing elit. Velit porro officiis iure commodi
                                            dolores, inventore, perspiciatis maiores dolorum sit
                                            fugit quasi odio aliquam. Minima labore odio quos iure
                                            ullam quisquam?
                                        </h6>
                                        <div class="channel-name">
                                            POPS-Anime
                                            <span><i class="bi bi-check-circle-fill"></i></span>
                                            <i class="bi bi-dot"></i>
                                            <span class="view">1,2 Triệu lượt xem</span>
                                        </div>
                                        <div class="description">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Modi laboriosam nihil, a quis vel voluptas maiores
                                            delectus? Debitis, assumenda quisquam porro ad ratione
                                            dolores, veritatis at laboriosam dignissimos esse
                                            perferendis?. Lorem ipsum dolor sit amet consectetur
                                            adipisicing elit. Modi laboriosam nihil, a quis vel
                                            voluptas maiores delectus? Debitis, assumenda quisquam
                                            porro ad ratione dolores, veritatis at laboriosam
                                            dignissimos esse perferendis?
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- 1 Video -->
                    <div class="mb-4 item">
                        <a href="#!/watch">
                            <div class="row">
                                <div class="video-cover-image col-5 p-0 overflow-hidden">
                                    <img class="w-100" src="assets/image/video.png" alt="banner" />
                                    <div class="time">12:12</div>
                                </div>
                                <div class="detail-container d-flex col-7 p-0">
                                    <div class="detail">
                                        <h6 class="title">
                                            Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan
                                            Tổng Hợp. Lorem, ipsum dolor sit amet consectetur
                                            adipisicing elit. Velit porro officiis iure commodi
                                            dolores, inventore, perspiciatis maiores dolorum sit
                                            fugit quasi odio aliquam. Minima labore odio quos iure
                                            ullam quisquam?
                                        </h6>
                                        <div class="channel-name">
                                            POPS-Anime
                                            <span><i class="bi bi-check-circle-fill"></i></span>
                                            <i class="bi bi-dot"></i>
                                            <span class="view">1,2 Triệu lượt xem</span>
                                        </div>
                                        <div class="description">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Modi laboriosam nihil, a quis vel voluptas maiores
                                            delectus? Debitis, assumenda quisquam porro ad ratione
                                            dolores, veritatis at laboriosam dignissimos esse
                                            perferendis?. Lorem ipsum dolor sit amet consectetur
                                            adipisicing elit. Modi laboriosam nihil, a quis vel
                                            voluptas maiores delectus? Debitis, assumenda quisquam
                                            porro ad ratione dolores, veritatis at laboriosam
                                            dignissimos esse perferendis?
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- 1 Video -->
                    <div class="mb-4 item">
                        <a href="#!/watch">
                            <div class="row">
                                <div class="video-cover-image col-5 p-0 overflow-hidden">
                                    <img class="w-100" src="assets/image/video.png" alt="banner" />
                                    <div class="time">12:12</div>
                                </div>
                                <div class="detail-container d-flex col-7 p-0">
                                    <div class="detail">
                                        <h6 class="title">
                                            Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan
                                            Tổng Hợp. Lorem, ipsum dolor sit amet consectetur
                                            adipisicing elit. Velit porro officiis iure commodi
                                            dolores, inventore, perspiciatis maiores dolorum sit
                                            fugit quasi odio aliquam. Minima labore odio quos iure
                                            ullam quisquam?
                                        </h6>
                                        <div class="channel-name">
                                            POPS-Anime
                                            <span><i class="bi bi-check-circle-fill"></i></span>
                                            <i class="bi bi-dot"></i>
                                            <span class="view">1,2 Triệu lượt xem</span>
                                        </div>
                                        <div class="description">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Modi laboriosam nihil, a quis vel voluptas maiores
                                            delectus? Debitis, assumenda quisquam porro ad ratione
                                            dolores, veritatis at laboriosam dignissimos esse
                                            perferendis?. Lorem ipsum dolor sit amet consectetur
                                            adipisicing elit. Modi laboriosam nihil, a quis vel
                                            voluptas maiores delectus? Debitis, assumenda quisquam
                                            porro ad ratione dolores, veritatis at laboriosam
                                            dignissimos esse perferendis?
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- 1 Video -->
                    <div class="mb-4 item">
                        <a href="#!/watch">
                            <div class="row">
                                <div class="video-cover-image col-5 p-0 overflow-hidden">
                                    <img class="w-100" src="assets/image/video.png" alt="banner" />
                                    <div class="time">12:12</div>
                                </div>
                                <div class="detail-container d-flex col-7 p-0">
                                    <div class="detail">
                                        <h6 class="title">
                                            Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan
                                            Tổng Hợp. Lorem, ipsum dolor sit amet consectetur
                                            adipisicing elit. Velit porro officiis iure commodi
                                            dolores, inventore, perspiciatis maiores dolorum sit
                                            fugit quasi odio aliquam. Minima labore odio quos iure
                                            ullam quisquam?
                                        </h6>
                                        <div class="channel-name">
                                            POPS-Anime
                                            <span><i class="bi bi-check-circle-fill"></i></span>
                                            <i class="bi bi-dot"></i>
                                            <span class="view">1,2 Triệu lượt xem</span>
                                        </div>
                                        <div class="description">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Modi laboriosam nihil, a quis vel voluptas maiores
                                            delectus? Debitis, assumenda quisquam porro ad ratione
                                            dolores, veritatis at laboriosam dignissimos esse
                                            perferendis?. Lorem ipsum dolor sit amet consectetur
                                            adipisicing elit. Modi laboriosam nihil, a quis vel
                                            voluptas maiores delectus? Debitis, assumenda quisquam
                                            porro ad ratione dolores, veritatis at laboriosam
                                            dignissimos esse perferendis?
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
