<div class="AppUpload">
    <div class="container">
        <div class="box row">
            <div class="col-md-5">
                <div class="preview-container d-none">
                    <img class="w-100" src="assets/image/video.png" />
                </div>
                <div class="input-container">
                    <i class="bi bi-cloud-arrow-up"></i>
                    <h5 class="mb-0">Chọn video để tải lên</h5>
                    <p class="mb-0">Hoặc kéo và thả video để tải lên</p>
                    <h6 class="mb-0">Chỉ hỗ trợ file .mp4</h6>
                    <input type="file" />
                </div>
            </div>
            <div class="col-md-7">
                <form action="">
                    <div class="form-container">
                        <!-- One filed -->
                        <div class="form-floating mb-3">
                            <input
                                type="email"
                                class="form-control"
                                id="floatingInput"
                                placeholder="name@example.com"
                                required
                            />
                            <label for="floatingInput">Tiêu đề <span>(0/120)</span></label>
                        </div>
                        <!-- One filed -->
                        <div class="form-floating mb-3">
                            <textarea
                                class="form-control"
                                placeholder="Leave a comment here"
                                id="floatingTextarea"
                                style="height: 130px;"
                            ></textarea>
                            <label for="floatingTextarea">Mô tả <span>(0/5000)</span></label>
                        </div>

                        <button class="btn btn-danger w-100" type="submit">Đăng video</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
