<div class="AppHeader">
    <div class="left-wrapper d-flex align-items-center">
        <i class="menu-icon bi bi-list"></i>
        <div class="logo-wrapper" nation="VN">
            <img src="assets/image/yt-logo.svg" alt="Logo" />
        </div>
    </div>
    <div class="center-wrapper">
        <div class="search-container">
            <form>
                <div class="input-container">
                    <i class="input-icon bi bi-search"></i>
                    <input type="text" placeholder="Tìm kiếm    " />
                    <i class="keyboard-icon bi bi-keyboard-fill"></i>
                </div>
            </form>
            <button class="btn-search">
                <i class="bi bi-search"></i>
            </button>
        </div>
        <i class="mic-icon bi bi-mic-fill"></i>
    </div>
    <div class="right-wrapper">
        <div class="item avatar">
            <img src="assets/image/avatar.jpg" alt="avatar">
        </div>
        <div class="item">
            <i class="bi bi-bell"></i>
            <span class="badeg">9+</span>
        </div>
        <div class="item">
            <i class="bi bi-cloud-arrow-up-fill"></i>
        </div>
    </div>
</div>
