.UpdatePassword {
    .profile-item .content {
        position: relative;

        input {
            font-size: 16px;
            line-height: 20px;
            padding-right: 30px !important;
        }

        .bi {
            position: absolute;
            font-size: 20px;
            right: 6px;
            top: 3px;
            
        }
    }
}