.header-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 56px;
    width: 100%;
    padding: 0 16px;
    background-color: white;
    z-index: 999;
}

.guide-container {
    /* position: fixed;
    top: 65px;
    left: 0; */
    padding: 12px;
    width: 240px;
    height: calc(100vh - 56px);
    flex: 0 240px;
    /* background-color: aqua; */
}

.content-container {
    /* margin-left: 240px; */
    margin-top: 56px;
    /* background-color: blueviolet; */
}

.watch-container {
    margin-top: 56px;
}