<div class="container p-5 Table">
    <div class="content-box pb-4">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="ps-4" scope="col">Channel</th>
                                <th scope="col">Email</th>
                                <th scope="col">Subscriber</th>
                                <th scope="col">Video count</th>
                                <th scope="col">Total view</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    <div class="d-flex align-items-center">
                                        <img
                                            class="avatar me-3"
                                            src="assets/image/avatar.jpg"
                                            alt=""
                                        />
                                        <p class="channel-name">Thịnh Nguyễn</p>
                                    </div>
                                </th>
                                <td>quocthinhtme@gmail.com</td>
                                <td>10.122.000</td>
                                <td>12</td>
                                <td>
                                    <div class="d-flex justify-content-between icon-wrapper">
                                        <span>1.100.213</span>
                                        <button
                                            class="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#row1"
                                            aria-expanded="true"
                                        >
                                            <i class="bi bi-three-dots-vertical poiter"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr id="row1" class="collapse">
                                <td class="AppProfile" colspan="6">
                                    <header
                                        class="d-flex justify-content-between align-items-center px-4"
                                    >
                                        <div class="info-container mb-0">
                                            <div class="avatar-container">
                                                <img src="assets/image/avatar.jpg" alt="Avatar" />
                                            </div>
                                            <div class="info-wrapper">
                                                <h1 class="channel-name">
                                                    Thịnh Nguyễn
                                                    <span
                                                        ><i class="bi bi-check-circle-fill"></i
                                                    ></span>
                                                </h1>
                                                <h6 class="channel-id">@quocthinhtme</h6>
                                                <h6 class="subscriber-counter">
                                                    9.9 Triệu người đăng kí
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="info-container mb-0">
                                            <div class="info-wrapper text-wrapper">
                                                <h2>Trạng thái: <span>Hoạt động</span></h2>
                                                <h2>Xát thực: <span>Đã xát thực</span></h2>
                                                <h2>Ngày tham gia: <span>12/12/2021</span></h2>
                                            </div>
                                        </div>

                                        <div>
                                            <button class="btn-subscriber bg-blue">
                                                <i class="bi bi-shield-check me-2"></i>Xát thực
                                            </button>
                                            <button class="btn-subscriber bg-red">
                                                <i class="bi bi-youtube  me-2"></i>Videos
                                            </button>
                                            <button class="btn-subscriber">
                                                <i class="bi bi-lock-fill me-2"></i>Khoá
                                            </button>
                                        </div>
                                    </header>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
