<div class="container AppDashboard p-5">
    <div class="content-box px-5 ">
        <div class="row card-container">
            <div class="col-md-3">
                <div class="item">
                    <div class="wrapper">
                        <div class="title">Người dùng mới hôm nay</div>
                        <div class="content">9</div>
                    </div>
                    <div class="icon">
                        <i class="bi bi-person-plus-fill"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <div class="wrapper">
                        <div class="title">Người dùng mới hôm nay</div>
                        <div class="content">9</div>
                    </div>
                    <div class="icon">
                        <i class="bi bi-person-plus-fill"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <div class="wrapper">
                        <div class="title">Người dùng mới hôm nay</div>
                        <div class="content">9</div>
                    </div>
                    <div class="icon">
                        <i class="bi bi-person-plus-fill"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <div class="wrapper">
                        <div class="title">Người dùng mới hôm nay</div>
                        <div class="content">9</div>
                    </div>
                    <div class="icon">
                        <i class="bi bi-person-plus-fill"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row chart-container">
            <div class="col-md-6">
                <div class="chart">
                    <div class="title">Người xem trong tuần qua</div>
                    <div class="content">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="chart">
                    <div class="title">Người truy cập hôm nay </div>
                    <div class="content">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
