<div class="AppGuide d-none d-md-flex">
    <div class="item-container">
        <!-- Item -->
        <div class="item-wrapper">
            <span class="left-icon">
                <i class="bi bi-house-door-fill"></i>
            </span>
            <span class="content">Trang chủ</span>
            <span class="right-icon">
                <i class="bi bi-dot"></i>
            </span>
        </div>

        <!-- Item -->
        <div class="item-wrapper">
            <span class="left-icon">
                <i class="bi bi-house-door-fill"></i>
            </span>
            <span class="content">Trang chủ</span>
            <span class="right-icon">
                <i class="bi bi-dot"></i>
            </span>
        </div>
    </div>

    <div class="item-container">
        <p class="title">Kênh đăng ký</p>


        <!-- Item -->
        <div class="item-wrapper">
            <span class="left-icon">
                <i class="bi bi-house-door-fill"></i>
            </span>
            <span class="content">Trang chủ</span>
            <span class="right-icon">
                <i class="bi bi-dot"></i>
            </span>
        </div>

        <!-- Item -->
        <div class="item-wrapper">
            <span class="left-icon">
                <i class="bi bi-house-door-fill"></i>
            </span>
            <span class="content">Trang chủ</span>
            <span class="right-icon">
                <i class="bi bi-dot"></i>
            </span>
        </div>
    </div>
</div>
