<div class="container AppLibrary">
    <div class="row">
        <div class="col-12 col-md-10">
            <div class="video-group">
                <div class="title-container d-flex align-items-center justify-content-between">
                    <h4 class="title"><i class="bi bi-clock"></i> Lịch sử</h4>
                    <a href="">Xem tất cả</a>
                </div>

                <div class="video-container row">
                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>

                        <!-- 1 Cái video -->
                        <div class="video-item col-3">
                            <div class="video-cover-image">
                                <img src="assets/image/video.png" alt="banner" />
                                <div class="time">12:12</div>
                            </div>
                            <div class="detail-container">
                                <div class="detail">
                                    <h6 class="title">
                                        Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                        Hợp
                                    </h6>
                                    <div class="channel-name">
                                        POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                    </div>
                                    <div class="data">
                                        <span class="view">1,2 Triệu lượt xem</span>
                                        <i class="bi bi-dot"></i>
                                        <span class="time">5 tháng trước</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                </div>
            </div>

            
            <div class="video-group">
                <div class="title-container d-flex align-items-center justify-content-between">
                    <h4 class="title"><i class="bi bi-clock"></i> Lịch sử</h4>
                    <a href="">Xem tất cả</a>
                </div>

                <div class="video-container row">
                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>

                        <!-- 1 Cái video -->
                        <div class="video-item col-3">
                            <div class="video-cover-image">
                                <img src="assets/image/video.png" alt="banner" />
                                <div class="time">12:12</div>
                            </div>
                            <div class="detail-container">
                                <div class="detail">
                                    <h6 class="title">
                                        Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                        Hợp
                                    </h6>
                                    <div class="channel-name">
                                        POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                    </div>
                                    <div class="data">
                                        <span class="view">1,2 Triệu lượt xem</span>
                                        <i class="bi bi-dot"></i>
                                        <span class="time">5 tháng trước</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                </div>
            </div>

            <div class="video-group">
                <div class="title-container d-flex align-items-center justify-content-between">
                    <h4 class="title"><i class="bi bi-clock"></i> Lịch sử</h4>
                    <a href="">Xem tất cả</a>
                </div>

                <div class="video-container row">
                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 1 Cái video -->
                    <div class="video-item col-3">
                        <div class="video-cover-image">
                            <img src="assets/image/video.png" alt="banner" />
                            <div class="time">12:12</div>
                        </div>
                        <div class="detail-container">
                            <div class="detail">
                                <h6 class="title">
                                    Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                    Hợp
                                </h6>
                                <div class="channel-name">
                                    POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                </div>
                                <div class="data">
                                    <span class="view">1,2 Triệu lượt xem</span>
                                    <i class="bi bi-dot"></i>
                                    <span class="time">5 tháng trước</span>
                                </div>
                            </div>
                        </div>
                    </div>

                        <!-- 1 Cái video -->
                        <div class="video-item col-3">
                            <div class="video-cover-image">
                                <img src="assets/image/video.png" alt="banner" />
                                <div class="time">12:12</div>
                            </div>
                            <div class="detail-container">
                                <div class="detail">
                                    <h6 class="title">
                                        Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng
                                        Hợp
                                    </h6>
                                    <div class="channel-name">
                                        POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                                    </div>
                                    <div class="data">
                                        <span class="view">1,2 Triệu lượt xem</span>
                                        <i class="bi bi-dot"></i>
                                        <span class="time">5 tháng trước</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                </div>
            </div>


        </div>
    </div>
</div>
