<div class="AppContent">
    <div class="suggest-wrapper">
        <div class="suggest-container">
            <span class="item">Conan</span>
            <span class="item">Conan</span>
            <span class="item">Conan</span>
            <span class="item">Conan</span>
            <span class="item">Conan</span>
            <span class="item">Conan</span>
            <span class="item">Conan</span>
            <span class="item">Conan</span>
            <span class="item">Conan</span>
        </div>
    </div>

    <div class="video-wrapper pt-3 px-3">
        <div class="list-video-container row px-5">
            <!-- 1 Video -->
            <div class="col-md-4 mb-3 item">
                <div class="video-cover-image">
                    <img src="assets/image/video.png" alt="banner" />
                    <div class="time">12:12</div>
                </div>
                <div class="detail-container d-flex px-3">
                    <img class="avatar" src="assets/image/chanel.jpg" alt="chanel" />
                    <div class="detail">
                        <h6 class="title">
                            Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng Hợp
                        </h6>
                        <div class="channel-name">
                            POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                        </div>
                        <div class="data">
                            <span class="view">1,2 Triệu lượt xem</span>
                            <i class="bi bi-dot"></i>
                            <span class="time">5 tháng trước</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 1 Video -->
            <div class="col-md-4 mb-3 item">
                <div class="video-cover-image">
                    <img src="assets/image/video.png" alt="banner" />
                    <div class="time">12:12</div>
                </div>
                <div class="detail-container d-flex px-3">
                    <img class="avatar" src="assets/image/chanel.jpg" alt="chanel" />
                    <div class="detail">
                        <h6 class="title">
                            Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng Hợp
                        </h6>
                        <div class="channel-name">
                            POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                        </div>
                        <div class="data">
                            <span class="view">1,2 Triệu lượt xem</span>
                            <i class="bi bi-dot"></i>
                            <span class="time">5 tháng trước</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 1 Video -->
            <div class="col-md-4 mb-3 item">
                <div class="video-cover-image">
                    <img src="assets/image/video.png" alt="banner" />
                    <div class="time">12:12</div>
                </div>
                <div class="detail-container d-flex px-3">
                    <img class="avatar" src="assets/image/chanel.jpg" alt="chanel" />
                    <div class="detail">
                        <h6 class="title">
                            Thám Tử Lừng Danh Conan - Siêu Clip 23 - Detective Conan Tổng Hợp
                        </h6>
                        <div class="channel-name">
                            POPS-Anime <span><i class="bi bi-check-circle-fill"></i></span>
                        </div>
                        <div class="data">
                            <span class="view">1,2 Triệu lượt xem</span>
                            <i class="bi bi-dot"></i>
                            <span class="time">5 tháng trước</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
